@charset "utf-8";
/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
.clearfix:after{content: ""; display: block; clear: both;}
a:link,a:visited{color: black; text-decoration: none;}
img{display: block;}

body{
    /* height: 100%; */
    font-family: 'Roboto';
    min-width: 980px;
}

/* util menu */

.util_wrapper{
    width: 980px;
    margin: 0 auto; 
}
.util_wrapper>ul.util{
    float: right;
    /* width: 400px; */
}
.util_wrapper>ul.util>li{
    float: left;
    /* width: 25%; */
}
.util_wrapper>ul.util>li>a{
    display: block;
    font-size: 12px;
    padding: 6px 10px;
}


.wall{
    height: 1px;
    background-color: #ccc;

}

.logo_wrapper{
    width: 980px;
    margin: 0 auto;
}

.logo_wrapper>h1.logo{
    text-align: center;
    padding: 16px;
}
.logo_wrapper>h1>a{
    display: block;
    text-align: center;
    font-size: 24px;
    line-height:28px;
}

.nav_wrapper{
    background-color: burlywood;
    margin: 0 auto;
}
.nav_wrapper>.nav{
    margin: 0 auto;
    width: 980px;
}

.nav_wrapper>.nav>li{
    float: left;
    width: 16.666%;
}
.nav_wrapper>.nav>li>a{
    display: block;
    text-align: center;
    line-height: 40px;
}
.nav>li>a:hover{
    background-color: rgb(172, 119, 22);
    color: white;
}

.visual{
    height: 400px;
    background-color: #213C6B;
    background-image: url(../imges/main_bg01.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.slide{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.img1{
    position: absolute;
    right: 0;
}

.img2{
    left: 20px;
    top: 50px;
    position: absolute;
}

.banner_wrap{
    background-color: blue;
}
.banner_wrap>li{
    width: 16.6666%;
    float: left;
}

